@media (max-width: 1200px){
    
}
@media (max-width: 767px){
    .header{
        justify-content: space-around;
        &__logo{
            display: none;
        }
    }
    .promo{
        &__wrapper{
            align-items: center;
            margin-top: 90px;
        }
        &__header{
            font-size: 30px;   
        }
    }
    .advantages{
        &__wrapper{
            flex-direction: column;
            align-items: center;
        }
        &__item{
            margin-bottom: 25px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .consultation{
        .title{
            text-align: center;
            font-size: 25px;
        }
        &__descr{
            text-align: center;
            margin-top: 15px;
        }
        .feed-form{
            margin: 20px auto;
        }
    }
}
@media (max-width: 575px){
    .header{
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
        &__official{
            margin-bottom: 25px;
        }
    }
    .promo{
        &__icons{
            flex-direction: column;
            align-items: center;
            max-width: 100%;
        }
        &__icon{
            margin-bottom: 25px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__header{
            font-size: 20px;
        }
        &__subheader{
            font-size: 15px;
        }
    }
    .consultation{
        .title{
            font-size: 20px;
        }
        &__descr{
            margin-top: 40px;
            font-size: 15px;
        }
    }
}
@media (max-width: 500px){

}
@media (max-width: 380px){

}